{% extends 'base.html' %}

{% block content %}

     <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">We are the best so far!</p>
                </div>
            </div>
        </header>

    <div class="container">
        <div class="row">
            <div style="text-align: center;">
                <div class="col-8">
                    <p align="justify">
                    <br/>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    <br/>
                    </p>
                    <p align="justify">
                    <br/>
                    Duis sollicitudin, arcu id volutpat vulputate, dui quam venenatis mauris, et vulputate nulla sapien in justo.
                    In viverra mauris suscipit purus sollicitudin sollicitudin.
                    Morbi pharetra neque sit amet tincidunt tincidunt.
                    Cras in sodales massa. Donec ac velit risus. Fusce in nibh et ipsum eleifend gravida non et sapien.
                    Phasellus porttitor cursus massa, et aliquam mauris lobortis et.
                    Aliquam at ligula sit amet sem dapibus varius vel eget diam.
                    <br/>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}